/* General */
body, header, footer{background-color:  rgb(21, 21, 21);}
*{color: white;}
body{margin: 5px;}
ul{list-style-type: none;}
a{text-decoration: none;}
.img-fluid{width:100%;height: auto;}
.p20{padding:20px;}
.p10{padding:10px;}
.plat20{padding: 0 20px;}
.pl40{padding-left: 40px;}
.pl55{padding-left: 55px;}
.pl60{padding-left: 60px;}
.mb20{margin-bottom: 20px;}
.mb10{margin-bottom: 10px;}
.mb0{margin-bottom: 0px;}
.mt2{margin-top: 2px;}
.m20{margin: 20px;}
.m10{margin: 10px;}
.m16{margin: 16px;}
.gridIndex{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}
.imgisologo{width: 165px;height: auto;}
.imgHeadRed{width: auto;height: 0.6cm;}
    /* fonts */
.fmerri{font-family: 'Merriweather', serif;}
.fontmarcellus{font-family: 'Marcellus', serif;}
.fontSourceSansPro{font-family: 'Source Sans Pro', sans-serif;}
.fontOpenSansInclinado{font-family: 'Open Sans', sans-serif;
}
.fontSourceSans3{font-family: 'Source Sans 3', sans-serif;
}

header p, footer p{font-family: 'Mukta', sans-serif;}
h1{font-family: 'Mukta', sans-serif;
font-size: 80px;
text-align: center;
color: rgb(0 185 103);}


.f14{font-size: 14;}
.f12{font-size: 12;}
.f10{font-size: 10;}
.f25{font-size: 25;}

.symbol{width: 40px;height: auto;}
h4{font-family:'Mukta', sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 25px;}

/* botones header */
header nav ul li a{
    transition: all .5s ease;
}
header nav ul div li a:hover{
letter-spacing: 1px;
 color: hsl(136, 57%, 30%);
 border-radius: 100px;
}
header nav ul div li:active{
letter-spacing: 1px;
 color: hsl(136, 57%, 30%);
 border-radius: 100px;
 transform: translateY(10px);
 transition: 100ms;
}

/* main general */
.fondoS2 div p{display: flex;text-align: center;}
/* Fuentes */
.green{color: rgb(37, 131, 89);}
.darkgreen{color: rgb(2, 90, 50);}
.fSec2{font-size: 25px;
    margin: 30px 0 0px 0;
}
.agro h2{
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.agro p{color: rgb(1, 30, 3);
    text-align: justify; 
    margin-left: 20px;
    margin-right: 20px;
}
.tituloTecno{
    font-size: 2.2rem;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(0 0 0 / 12%);
    text-shadow: 0 0 5px black;
}
.underline{text-decoration: underline;}

    /* fondos */
.fondoS1{
    background-image: url(../imagenes/portada2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
}
.fondoS2{
    background-image: url(../imagenes/fondo-minimalista-s2.jpg);
    background-repeat: repeat;
}
.fondoS3{background-image: url(../imagenes/23.png);
    background-size: cover;
    background-position: center center;
}
.fondoDivS3{background-color: rgba(241, 233, 233, 0.52);
    border-radius: 5px;
}
.fondoS4{background-image: url(../imagenes/21.png);
    background-size: cover;
    background-position: center center;  
}
.fondoS4Ptitulo{background-color: rgb(35, 107, 75);
    font-family: 'Raleway', sans-serif;
}
.fondoS4Pparrafo{background-color: rgb(39, 47, 38);
    font-family: 'Lato', sans-serif;
}

    /* botones */
.buttonSoporte {
 padding: 17px 18px;
 border-radius: 50px;
 border: 1px;
 background-color: black;
 box-shadow: rgba(29, 29, 29, 0.05) 0 0 8px;
 letter-spacing: 1.2px;
 text-transform: uppercase;
 font-size: 15px;
 transition: all .5s ease;
}
.buttonSoporte:hover {
 letter-spacing: 3px;
 background-color: hsl(136, 57%, 30%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(24, 220, 40) 0px 7px 29px 0px;
}
.buttonSoporte:active {
 letter-spacing: 3px;
 background-color: hsl(136, 57%, 30%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}
.buttonNos {
 padding: 15px 38px;
 color: black;
 border-radius: 50px;
 border: 3px black solid;
 background-color: rgb(255, 255, 255);
 box-shadow: rgba(29, 29, 29, 0.05) 0 0 8px;
 letter-spacing: 1.2px;
 text-transform: uppercase;
 font-size: 15px;
 transition: all .5s ease;
}
.buttonNos:hover {
 letter-spacing: 3px;
 border: 0;
 background-color: hsl(136, 57%, 30%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(24, 220, 40) 0px 7px 29px 0px;
}
.buttonNos:active {
 letter-spacing: 3px;
 border: 0;
 background-color: hsl(136, 57%, 30%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}

/* boton final main */
.info p a{
    transition: all .5s ease;
}
.info p a:hover{
 color: hsl(136, 57%, 30%);
 border-radius: 100px;
}
.info p:active{
 color: hsl(136, 57%, 30%);
 border-radius: 100px;
 transform: translateY(10px);
 transition: 100ms;
}


/* Mobile */
@media (max-width:768px){
    header{display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;}
    .imgisologo{margin-top: 30px;}
    /* encabezado provisorio hasta saber hacer menu desplegable */
    .stickyIsologo{position: fixed;
    top: 0;
    padding: 0 100%;
    background-color:  rgb(21, 21, 21);
    z-index: 1;}
    header, header nav{margin-top: 30px;
    z-index: 0;}
    header nav ul div{display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
    }
    header{height: auto;width: 100%;}
    /* desde comentario anterior hasta acá borrar una vez que sepa hacer el menú desplegable */
    
    ul{display: flex;
    flex-direction: column;
    align-items: center;}
    header nav ul,header div, header nav ul div, li{display: flex;
        padding: 15px 10px 0px 10px;
        align-items: center;}
    a{text-align: center;}
    
    /* footer */
    
    .rss_nav_footer{width: 35px;}
    .imglogofooter {width: 200px;}
    footer div{display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;}
    footer section h4{margin-left: 30px;}
    footer section article{    display: flex;
        align-content: center;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    footer section article div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin: 0;
    }
    .mobileDireccion{margin-left: 40px;}
    .rss ul{flex-direction: row;}

    /* main */
        /* seccion 1 */
    .intro article{display: flex; justify-content: center;}
    .intro article h1{margin-top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: max-content;
        height: max-content;
        border-radius: 2px;
        padding: 0;
        line-height: 90px;
        font-size: 3rem;
        text-shadow: black 0 0 5px;
    }
    .intro div{margin: 0 0 40px 0px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 190px;
        align-content: center;
        justify-content: center;
    }
        /* seccion 2 */
    .fondoS2 div img{height: auto;
        width: 48px;
        border-radius: 9px;
    }
    .fondoS2{display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .fondoS2 div{display: flex;
        flex-direction: column;
        align-items: center;
        margin: 38px 20px;
        padding: 20px;
        width: 265px;
        background-color: rgba(37, 34, 34, 0.712);
        border-radius: 20px;
    }
        /* seccion 3 */
    .agro{display: flex; align-items: center;}
    .agro div{display: flex; flex-direction: column;}
    .fotoAgro img{width: 100%;}
        /* seccion 4 */
    .tituloTecno{text-align: center;}
    .tecno1, .tecno2, .tecno1 div, .tecno2 div{display: block;}
    .tecno1{margin: 30px 20px 0px 20px; padding-bottom: 0;}
    .tecno2{margin: 0px 20px 0px 20px; padding-top: 0;}    
    .tecno1 div p, .tecno2 div p{
        border-radius: 2px; 
        margin: 0; 
        padding: 13px;
        box-shadow: rgba(212, 206, 206, 0.555) 0 0 8px;
        text-align: justify;}
        .info{margin: 0px 20px 30px 20px;
            text-align: center;
        }
}

/* Tablet */
@media (min-width:769px) and (max-width:1023px){
    header{display: flex;
     justify-content: space-between;
     align-items: center;
     position: sticky;
     top: 0}
    .ul_Header{display: flex;}
    .div_ul_Header{display: flex;
     align-items: center;
     flex-wrap: wrap;
     align-content: space-around;
     justify-content: flex-end;}
    ul, nav, li{padding: 10px;}
}
/* Desktop */
@media (min-width:1024px){
    /* header */
   header{display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0
    }
    .ul_nav_Header{display: flex;
        flex-direction: row;
    }
    .div_ul_nav_Header{display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: flex-end;
    }
    .div_ul_nav_Header li{padding: 10px;}

    /* footer */
    .gridPie{display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logoPie contacto rss";}
        .logoPie{
            grid-area: logoPie;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .contacto{
            grid-area: contacto;
            padding-left: 96px;
            }
        .rss{
            grid-area: rss;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    .contacto_article_section_footer{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .rss_nav_footer{width: 35px;}
    .imglogofooter {width: 200px;}
    .ul_nav_footer{
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .ul_nav_footer li{padding: 11px;}
    .article_div_footer{text-align: center;}

    /* main */
        /* main grids */
    .gridMain{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "intro intro"
        "caract caract"
        "agro fotoAgro"
        "tituloTecno tituloTecno"
        "tecno1 tecno2"
        "info info";
    }
    .intro{grid-area: intro;}
    .caract{grid-area: caract;}
    .agro{grid-area: agro;}
    .fotoAgro{grid-area: fotoAgro;}
    .tituloTecno{grid-area: tituloTecno;
        width: max-content;
    }
    .tecno1{grid-area: tecno1;}
    .tecno2{grid-area: tecno2;}
    .info{grid-area: info;}
        /* sección 1 */
    .intro{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
    }
    .intro article{display: flex; justify-content: center;}
    .intro article h1{margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    border-radius: 2px;
    text-shadow: white;
    line-height: 90px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: #0000009e 0px 0px 6px;
    }
    .intro div{margin: 0 0 40px 50px;
    display: flex;
    align-items: flex-end;
    }
        /* seccion 2 */
    .fondoS2 div img{height: auto;
        width: 48px;
        border-radius: 9px;
    }
    .fondoS2{display: flex;
        justify-content: center;
    }
    .fondoS2 div{display: flex;
        flex-direction: column;
        align-items: center;
        margin: 38px 20px;
        padding: 20px;
        width: 265px;
        background-color: rgba(37, 34, 34, 0.712);
        border-radius: 20px;
    }
        /* seccion 3 */
    .agro{display: flex;align-items: center;}
    .agro div{display: flex; flex-direction: column;
        align-items: flex-start;
        margin: 20px;
    }
    .fotoAgro img{width: 100%;height: auto;
    }
    .fotoAgro{display: flex;
        align-items: center;
        justify-content: center;
    }
        /* seccion 4 */
    .tecno1{margin: 30px 5px 30px 120px;}
    .tecno2{margin: 30px 120px 30px 5px;}    
    .tecno1 div p, .tecno2 div p{
        border-radius: 2px; 
        margin: 0; 
        padding: 13px;
        box-shadow: rgba(212, 206, 206, 0.555) 0 0 8px;
        text-align: justify;
    }
    .info{margin: 16px 20px 30px 120px;}
}
